<div class="form-horizontal">
	<h1>出品</h1>
  	<%= form_for(@product) do |f| %>
    <div class="form-group">
		<label class="col-sm-2 control-label" for="InputTitle">Title</label>
		  <div class="col-sm-10">
   	 		 <%= f.text_field :title %>	
   	 	  </div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="InputPrice">Price</label>
	  	  <div class="col-sm-10">	
	  		<%= f.text_field :price %>
	      </div>
	</div>	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="InputDescription">Description</label>
		 <div class="col-sm-10">
		  <%= f.text_field :description %>
		 </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="InputStatus">Is_available</label>
	  	 <div class="col-sm-10">
		  <%= f.text_field :is_available %>
		 </div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="InputImage">Main Image</label>
	      <div class="col-sm-10">
	  		<%= f.file_field :image %>
	  	  </div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="InputImage">Category</label>
	      <div class="col-sm-10">
	  		<%= f.collection_select :category_id, Category.all,:id,:name %>
	  	  </div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="InputStatus">Sub Image</label>
	  	 <div class="col-sm-10">
		    <%= f.fields_for :product_images do |product_image| %>
		    <%=  product_image.file_field :image_id %>
		 <% end %>
		 </div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
	 	 <%= f.submit '出品', class: 'btn btn-large btn-primary' %>
		</div>
	</div>
<% end %>
</div>